{% extends 'layout.html' %}

{% block title %}
tweet clone
{% endblock %}

{% block content %}
  <h1 class="text-center ">TWITTER CLONE</h1>
  <a class="btn btn-primary" href="{% url 'tweet_create' %}" >Create Tweet</a>
  <div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
    {% if tweet.photo %}
    <img src="{{ tweet.photo.url }}" alt="tweet image" class="img-fluid">
{% endif %}

    <div class="card-body">
    <h5 class="card-title">{{ tweet.user.username }}</h5>
    <p class="card-text">{{ tweet.text }}</p>
    {% if tweet.user == user %}
    <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">edit </a>
    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">delete </a>
    {% endif %}
  </div>
</div>
    {% endfor %}
  </div>
{% endblock %}