{% extends 'layout.html' %}

{% block title %}
tweet clone
{% endblock %}

{% block content %}
  <h1 class="text-center ">Hello World</h1>
  <h2>
    {% if form.instance.pk %}
    edit tweet
    {% else %}
    create tweet
    {% endif %}
    <form class="form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn btn-warning">submit</button>
    </form>
    <a href="{% url 'tweet_list' %}" class="btn btn-primary">back to tweet</a> 


  </h2>
{% endblock %}